
/* Галерея */
.gallery {
    list-style: none;
    margin: 0;
    padding: 24px 156px;
       display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
       background: #fff;
}

.gallery-item {
    flex-basis: calc((100% - 24px * 2) / 3);
    /* 3 картки в ряд */
    max-width: 360px;
    height: 200px;
    overflow: hidden;
}

.gallery-link {
    display: block;
    height: 100%;
}

.gallery-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

/* Ховер-ефект */
.gallery-image:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(46, 47, 66, 0.4);
}

/* Модальне вікно */
.modal {
    
    background: #2e2f42;
}

.modal-image {
    display: block;
    width: 1112px;
    height: 640px;
    object-fit: cover;
}